

<div class="pad-16">

    <button class="btn btn-outline" [routerLink]="'/home/products/add'">Add Product</button> <br/>

    <ngx-datatable
        style='width:1080px;'
        [rows]="rows"
        [columns]="columns"
        [headerHeight]="45"
        [rowHeight]="'auto'"
        [columnMode]="'standard'"
        [scrollbarV]="false"
    >
    </ngx-datatable>
</div>
<ng-template #productDiscontinuedTpl let-row="row" let-value="value">
   <div class="toggle-switch">
        <input type="checkbox" [attr.checked]="value==1?true:null" checked [id]="row.productCode"/>
        <label [for]="row.productCode"></label>
   </div>
</ng-template>

<ng-template #productDeleteTpl let-row="row" let-value="value">
    <div>
        <button class="btn btn-danger btn-sm" type="button" (click)="delete(row.id)" [id]="row.id">
            <clr-icon shape="trash"></clr-icon>

        </button>
    </div>
</ng-template>

